* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 760px;
}

.grid-row {
    display: flex;
    gap: 4px;
}

.grid-item {
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    flex: 1;
}

.grid-item.hovered {
    background-color: black;
}

.create-new-grid {
    margin: 40px auto;
    text-align: center;
}

.create-new-grid button {
    padding: 6px 18px;
}